/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
*.sublime-project
*.sublime-workspace
nbproject/
.phpintel/
.buildpath
.project
.settings/

# Ficheros descargados al ejecutar
# composer create-project symfony/framework-standard-edition

## Ficheros markdown que no me interesan para nada
UPGRADE*.md